In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as image
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import PIL
import os
from PIL import Image

In [2]:
df = pd.read_csv ("digits.csv")
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,index
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41996,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41997,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41998,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41999,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [3]:
x = df.iloc[:,0:784]
y = df["index"]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=100)

# KNN

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [6]:
y_test_pred_knn = knn_classifier.predict(X_test)

In [7]:
knn_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_knn})
knn_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [8]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_test_pred_knn))

0.9655582890246805

# LogisticRegression

In [9]:
from sklearn.linear_model import LogisticRegression
lr_classifier = LogisticRegression()
lr_classifier.fit(X_train, y_train)

LogisticRegression()

In [10]:
y_test_pred_log = lr_classifier.predict(X_test)

In [11]:
knn_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_log})
knn_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [12]:
print(accuracy_score(y_test,y_test_pred_log))

0.9207999365129752

# Support Vector Machines

In [13]:
from sklearn.svm import SVC
sv_classifier = SVC()
sv_classifier.fit(X_train, y_train)

SVC()

In [14]:
y_test_pred_svc = sv_classifier.predict(X_test)

In [15]:
svm_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_svc})
svm_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [16]:
print(accuracy_score(y_test,y_test_pred_svc))

0.9758749305610666

# Decision Trees

In [17]:
from sklearn.tree import DecisionTreeClassifier
dt_classifier  = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:
y_test_pred_DTC = dt_classifier.predict(X_test)

In [19]:
dtc_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_DTC})
dtc_df.head()

       Actual  Predicted
21028       4          4
35662       8          4
7969        1          1
16537       3          3
36659       8          8

In [20]:
print(accuracy_score(y_test,y_test_pred_DTC))

0.8506467740655503

# Random Forest

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
y_test_pred_rtc = rf_classifier.predict(X_test)

In [23]:
rfc_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_rtc})
rfc_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [24]:
print(accuracy_score(y_test,y_test_pred_rtc))

0.964526624871042

In [25]:
data = [["KNeighborsClassifier",0.9655582890246805],["LogisticRegression",0.9207999365129752],["SVC",0.9758749305610666],["DecisionTreeClassifier",0.8524720260296802],["RandomForestClassifier",0.9649234187762876]]
data = pd.DataFrame(data, columns=["classifiers","prediction"])

In [26]:
data

              classifiers  prediction
0    KNeighborsClassifier    0.965558
1      LogisticRegression    0.920800
2                     SVC    0.975875
3  DecisionTreeClassifier    0.852472
4  RandomForestClassifier    0.964923

# Model Serialization

In [28]:
from pickle import dump

dump(knn_classifier, open('models/knn_model.pkl', 'wb'))
dump(lr_classifier, open('models/lr_model.pkl', 'wb'))
dump(sv_classifier, open('models/sv_model.pkl', 'wb'))
dump(dt_classifier, open('models/dt_model.pkl', 'wb'))
dump(rf_classifier, open('models/rf_model.pkl', 'wb'))