In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
from PIL import Image
from matplotlib import image

In [4]:
import glob

In [5]:
for i in range(10):
    print((i,(len(glob.glob("mnist_data/"+str(i)+"/*")))))

(0, 4132)
(1, 4684)
(2, 4177)
(3, 4351)
(4, 4072)
(5, 3795)
(6, 4137)
(7, 4401)
(8, 4063)
(9, 4188)

## Zeros

In [6]:
flatten_img_0= []
for i in range(0,4132):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\0\img_{}.png".format(i))
    img_0 = img.convert("L")
    flatten_img_0.append(np.array(img_0).ravel())

In [7]:
zeros_img =pd.DataFrame(flatten_img_0)
zeros_img["lable"] = 0

## One

In [8]:
flatten_img_1 = []
for i in range(0,4684):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\1\img_{}.png".format(i))
    img_gray_1 = img.convert("L")
    img_arr_1 = np.array(img_gray_1)
    flatten_img_1.append(img_arr_1.ravel())

In [9]:
ones_img =pd.DataFrame(flatten_img_1)
ones_img["lable"] = 1

## Two

In [10]:
flatten_img_2 = []
for i in range(0,4177):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\2\img_{}.png".format(i))
    img_gray_2 = img.convert("L")
    img_arr_2 = np.array(img_gray_2)
    flatten_img_2.append(img_arr_2.ravel())

In [11]:
twos_img =pd.DataFrame(flatten_img_2)
twos_img["lable"] = 2

## Three

In [12]:
flatten_img_3 = []
for i in range(0,4351):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\3\img_{}.png".format(i))
    img_gray_3 = img.convert("L")
    img_arr_3 = np.array(img_gray_3)
    flatten_img_3.append(img_arr_3.ravel())

In [13]:
three_img =pd.DataFrame(flatten_img_3)
three_img["lable"] = 3

## Four

In [14]:
flatten_img_4 = []
for i in range(0,4072):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\4\img_{}.png".format(i))
    img_gray_4 = img.convert("L")
    img_arr_4 = np.array(img_gray_4)
    flatten_img_4.append(img_arr_4.ravel())

In [15]:
four_img =pd.DataFrame(flatten_img_4)
four_img["lable"] = 4

## Five

In [16]:
# for i in range(0,3):
#     img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\5\img_{}.png".format(i))
#     img_8 = img.resize((8,8))
#     print(np.array(img_8).flatten())

In [17]:
flatten_img_5 = []
for i in range(0,3795):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\5\img_{}.png".format(i))
    img_gray_5 = img.convert("L")
    img_arr_5 = np.array(img_gray_5)
    flatten_img_5.append(img_arr_5.ravel())

In [18]:
five_img =pd.DataFrame(flatten_img_5)
five_img["lable"] = 5

## Six

In [19]:
flatten_img_6 = []
for i in range(0,4137):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\6\img_{}.png".format(i))
    img_gray_6 = img.convert("L")
    img_arr_6 = np.array(img_gray_6)
    flatten_img_6.append(img_arr_6.ravel())

In [20]:
six_img =pd.DataFrame(flatten_img_6)
six_img["lable"] = 6

## Seven

In [21]:
flatten_img_7 = []
for i in range(0,4401):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\7\img_{}.png".format(i))
    img_gray_7 = img.convert("L")
    img_arr_7 = np.array(img_gray_7)
    flatten_img_7.append(img_arr_7.ravel())

In [22]:
seven_img =pd.DataFrame(flatten_img_7)
seven_img["lable"] = 7

## Eight

In [23]:
flatten_img_8 = []
for i in range(0,4063):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\8\img_{}.png".format(i))
    img_gray_8 = img.convert("L")
    img_arr_8 = np.array(img_gray_8)
    flatten_img_8.append(img_arr_8.ravel())

In [24]:
eight_img =pd.DataFrame(flatten_img_8)
eight_img["lable"] = 8

## Nine

In [25]:
flatten_img_9 = []
for i in range(0,4188):
    img = Image.open(r"C:\Users\DELL\ML\Assignments\Image Data\mnist_data\9\img_{}.png".format(i))
    img_gray_9 = img.convert("L")
    img_arr_9 = np.array(img_gray_9)
    flatten_img_9.append(img_arr_9.ravel())

In [26]:
nine_img =pd.DataFrame(flatten_img_9)
nine_img["lable"] = 9

In [27]:
data = pd.concat([zeros_img,ones_img,twos_img,three_img,four_img,five_img,six_img,seven_img,eight_img,nine_img],axis=0)

In [28]:
data

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,lable
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4184,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4185,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4186,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4187,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

### Move to CSV file

In [50]:
data.to_csv("Digits_1.csv",index=False)

## Read CSv file

In [51]:
data = pd.read_csv("Digits_1.csv")